  
/* gabarit 
   ======= */
  
#page {
  display: grid;
  grid-template-columns: min-content auto;
  color: black;
  background: white;
  gap:30px;
} 
a {
  text-decoration: none;
  color: cornflowerblue;
}
a:hover {
  color:rgb(0, 73, 207);
}
.dr {
  text-align: right;
}
.mi {
  text-align: center;
}
.erreur {
  color: brown;
}
.fait {
  color: mediumseagreen; 
}


  /* formulaires 
     =========== */

  label, input, select, textarea, form img {
    display: block;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  /* label {
    margin-top: 30px;
  } */
  input, select, button, textarea, form img {
    padding: 8px;
    width: 400px;
    font-size: 16px;
  }
  form span {
    display: block;
    color: brown;
  }
  input[type=submit] {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  /* tableaux des listes (grid layout)
     ================================= */

     .g {
      display: grid;
      grid-gap: 3px;
    }
    .g.utilisateurs { grid-template-columns: repeat(6, max-content);  }
    .g.films        { grid-template-columns: repeat(8, max-content); }
    .g.genres       { grid-template-columns: repeat(4, max-content);  }
    .g.realisateurs { grid-template-columns: repeat(4, max-content);  }
    .g.acteurs      { grid-template-columns: repeat(4, max-content);  }
    .g.pays         { grid-template-columns: repeat(4, max-content);  }
    .g.seances      { grid-template-columns: repeat(5, max-content);  }
    .g.salles       { grid-template-columns: repeat(4, max-content);  }
    .l {
      display: contents;
    }
    .l:nth-of-type(2n) .c {
      background-color: #eee;
    }
    .l:nth-of-type(2n+1) .c {
      background-color: #ddd;
    }
    .t {
      text-align: center;
      font-weight: bold;
      border: 2px solid cornflowerblue;
    }
    .t img {
      width: 10px;
      margin: 0;
      cursor: pointer;
    }
    .t img:first-of-type {
      margin-left: 10px;
    }
    .t img:hover {
      transform: scale(1.3);
    }
    .t, .c {
      box-sizing: border-box;
      padding: 5px 20px;
      line-height: 32px;
      border-radius: 3px;
    }
    .c a, .c span  {
      margin: 0 5px;
    }
    .c span {
      color: cornflowerblue;
      cursor: pointer;
    }
    .c span:hover {
      color:rgb(0, 73, 207);
    }
    /* header {
      box-sizing: border-box;
      width: 200px;
      padding: 20px;
      background-color: #eee;
    } */
    header.invisible {
      padding: 20px 0;
      width: 0px;
    }
    header p {
      margin-bottom: 30px;
      overflow: hidden;
    }
    header p a {
      display: block;
      margin-top: 8px;
    }
    header ul {
      list-style: none;
    }
    header ul li a {
      display: block;
      line-height: 32px;
      overflow: hidden;
      color:cornflowerblue;
    }
    header ul li hr {
      border: 0;
      height: 1px;
      background-color:cornflowerblue;
    }
    

