swiper-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0px auto;
}

swiper-slide img {
    display: block;
    object-fit: cover;
    
}
.swiper-button-next,.swiper-button-prev{
    color:rgb(2, 2, 44);
}
