<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
  <link rel="stylesheet" type="text/css" href="css/admin.css?v=1.1">
  <script type="module" src="js/admin.js"></script>
</head>

<body>
  <div id="page">
    <header>
     
      <p>
        {{ oUtilConn.utilisateur_prenom }} {{ oUtilConn.utilisateur_nom }}
        <a href="admin?entite=utilisateur&action=d">Déconnecter</a>
      </p>
      <nav>
        <ul>
          <li>
            <hr>
            <a href="admin">Timbres</a>
          </li>
          <li>
            <hr>
            <a href="admin?entite=Enchere">Encheres</a>
          </li>
          {% if oUtilConn.utilisateur_profil == constant('Utilisateur::PROFIL_ADMINISTRATEUR') %}
          <li>
            <hr>
            <a href="admin?entite=utilisateur">Utilisateurs</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>

    {{ include(templateMain) }}

    </main>
  </div>
</body>
</html>