<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <title>{{ titre }}</title>
</head>

<body style="width: 100%;
             padding-top: 40px;
             padding-left: 20px;
             font-family: 'Trebuchet MS', sans-serif;
             background-color: #2E292E; color: #fff;">
  <main>

    {{ include(templateMain) }}

  </main>
</body>
</html>