
    <main class="container">  
        <section class="image-texte">
            <img src="img/lord-stampee.webp" alt="image du Lord Stampee"> 
            <div>
                <h1>Biographie du Lord Stampee</h1>
                <div> 
                    <p>Lord Reginald Stampee, duc de Worcestershear, est une figure incontournable de la philatélie britannique. Né en 1945 dans une famille aristocratique, il a découvert sa passion pour les timbres dès son plus jeune âge, grâce à son grand-père qui lui a offert sa première collection de timbres.</p>
                    <p>Au fil des années, Lord Stampee a développé une expertise rare en matière de philatélie, en se concentrant notamment sur les timbres rares et historiques du Royaume-Uni. Il a ainsi acquis une collection impressionnante, qui comprend certains des timbres les plus rares et les plus recherchés au monde.</p>
                    <p>Mais Lord Stampee ne s'est pas contenté de collectionner des timbres : il a également créé sa propre maison d'enchères, qui est devenue au fil des ans l'une des plus prestigieuses du Royaume-Uni. Ses enchères attirent aujourd'hui les plus grands philatélistes du monde entier, qui viennent y chercher les timbres les plus rares et les plus convoités.</p>
                </div>
                <img src="img/signature.png" alt="signature" id="signature">
            </div>
        </section>
        
        <section class="infolettre">
                <h1>Alerte Enchère</h1>
                <label>Abonnez-vous à notre inforlettre</label>
                <input type="text" aria-label=" " placeholder="Votre courriel...">
                <a href="" class="bouton">s'abonner</a>   
        </section>
        <div class="texte-sur-image aide">
            <img src="img/timbre12.jpeg" alt="timbre10">
            <div>
                <h1>Laissez nous vous aider!</h1>
                <p> N'hésitez pas à nous poser toutes les questions que vous avez.</p>
                <a href="#" class="bouton">Contactez-nous</a> 
            </div>
        </div>
    </main>
